<nav id="nav_menu">
    <ul>
        <li><a href="/view-pages">View Pages</a></li>
        <li><a href="/add">Add a Page</a></li>
        <li><a href="/edit-header">Edit Layout</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</nav>