<nav id="nav_menu">
    <ul>
        <% navLinks.forEach(function(link){ %>
        <li><a href="/page/<%= link.slug %>"><%= link.menuname %></a></li>
        <%}); %>
            <li><a href="/login">Admin Login</a></li>
    </ul>
</nav>