<!DOCTYPE html>
<html>
<head>
	<title><%= layout.headertext %></title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<script src="https://cdn.ckeditor.com/ckeditor5/15.0.0/classic/ckeditor.js"></script>
</head>
<body>
	<header>
		<img src="/images/pumpkin.gif" alt="Pumpkin" width="85">
		 <h2><%= layout.headertext %></h2>
		 <h3>For the little Goblin in all of us!</h3>
  </header>