<%- include('_layouts/header') -%>
<%- include('_layouts/admin-navigation') -%>
<main>
    <section>
        <h1>Add a new page</h1>
        <form method="POST" action="/add" enctype="multipart/form-data">
            <div class="form-field">
                <label for="title">Title:</label>
                <input type="text" class="form-input" name="title">
            </div>
            <div class="form-field">
                <label for="slug">Slug:</label>
                <input type="text" class="form-input" name="slug">
            </div>
            <div class="form-field">
                <label for="message">Menu Name:</label>
                <input type="text" class="form-input" name="menuname">
            </div>
            <div class="form-field">
                <label for="message">Message:</label>
                <textarea id="message" name="message"></textarea>
            </div>

            <div class="form-field">
                <label for="myimage">Image:</label>
                <input type="file" class="form-input" name="myimage" id="myimage">
            </div>
            <div class="form-field">
                <input type="submit" class="form-submit" value="Submit">
            </div>
        </form>
        <% 
            if(typeof errors !== 'undefined'){
                for(var error of errors){
                    %>
                    <h3><%= error.msg %></h3>
                    <%
                }
            }
        %>
    </section>
</main>
<script>
    ClassicEditor
        .create( document.querySelector( '#message' ) )
        .catch( error => {
            console.error( error );
        } );
</script>
<%- include('_layouts/footer') -%>