<%- include('_layouts/header') -%>
<%- include('_layouts/admin-navigation') -%>
<main>
    <section>
        <h1>Title: <%= title %>!</h1>
        <h3>Slug: <%= slug %></h3>
        <h2>Message:</h2>
        <%- message %>
    </section>
</main>
<%- include('_layouts/footer') -%>