<%- include('_layouts/header') -%>
<%- include('_layouts/admin-navigation') -%>
<main>
    <section>
        <h1>Page deleted successfully</h1>
    </section>
</main>
<%- include('_layouts/footer') -%>