<%- include('_layouts/header') -%>
<%- include('_layouts/admin-navigation') -%>
<main>
    <section>
        <h1>Update Website Layout</h1>
        <form method="POST" action="/edit-header" enctype="multipart/form-data">
            <div class="form-field">
                <label for="title">Header Text:</label>
                <input type="text" class="form-input" name="headertext" value="<%= layoutdata.headertext %>">
            </div>
            <div class="form-field">
                <label for="title">Footer Text:</label>
                <input type="text" class="form-input" name="footertext" value="<%= layoutdata.footertext %>">
            </div>
            <div class="form-field">
                <input type="submit" class="form-submit" value="Submit">
            </div>
        </form>
</main>
<script>
    ClassicEditor
        .create( document.querySelector( '#message' ) )
        .catch( error => {
            console.error( error );
        } );
</script>
<%- include('_layouts/footer') -%>