<%- include('_layouts/header') -%>
<main>
    <section>
        <h1>Edit an Existing Page</h1>
        <form method="POST" action="/edit/<%= contact._id %>" enctype="multipart/form-data">
            <div class="form-field">
                <label for="title">Title:</label>
                <input type="text" class="form-input" name="title" value="<%= contact.title %>">
            </div>
            <div class="form-field">
                <label for="slug">slug:</label>
                <input type="text" class="form-input" name="slug" value="<%= contact.slug %>">
            </div>
            <div class="form-field">
                <label for="menuname">Menu Name:</label>
                <input type="text" class="form-input" name="menuname" value="<%= contact.menuname %>">
            </div>
            <div class="form-field">
                <label for="message">Message:</label>
                <textarea id="message" name="message"><%- contact.message %></textarea>
            </div>
            <div class="form-field">
                <label for="myimage">Image: </label>
                <input type="file" class="form-input" name="myimage" id="myimage">
            </div>
            <div class="form-field">
                <input type="submit" class="form-submit" value="Submit">
            </div>
        </form>
        <% 
            if(typeof errors !== 'undefined'){
                for(var error of errors){
                    %>
                    <h3><%= error.msg %></h3>
                    <%
                }
            }
        %>
    </section>
</main>
<script>
    ClassicEditor
        .create( document.querySelector( '#message' ) )
        .catch( error => {
            console.error( error );
        } );
</script>
<%- include('_layouts/footer') -%>