<!DOCTYPE html>
<html>
<head>
	<title>My Awesome Website</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<script src="https://cdn.ckeditor.com/ckeditor5/15.0.0/classic/ckeditor.js"></script>
</head>
<body>
<%- include('_layouts/header') -%>
<%- include('_layouts/front-navigation') -%>
<main>
	<h1><%= page.title %></h1>
		<img src="/contact_images/<%= page.myimage %>" alt=<%= page.myimage %>>
	<p><%- page.message %></p>
</main>
	<%- include('_layouts/footer') -%>
</body>
</html>