<%- include('_layouts/header') -%>
<%- include('_layouts/front-navigation') -%>
<main>
    <section>
        <h1>Thank you for using the application! You are successfully logged out.</h1>
    </section>
</main>
<%- include('_layouts/footer') -%>