<%- include('_layouts/header') -%>
<%- include('_layouts/front-navigation') -%>
<main>
    <main>
        <h1><%= contact.title %></h1>
        <img src="contact_images/<%= page.myimage %>" alt=<%= contact.myimage %>>
        <p><%= contact.message %></p>
    </main>
</main>
<%- include('_layouts/footer') -%>