<%- include('_layouts/header') -%>
<%- include('_layouts/admin-navigation') -%>
<main>
    <section>
        <h1>List of Pages: </h1>
        <table class="contact-list">
            <tr>
                <th>Title</th>
                <th>Slug</th>
                <th colspan="2">Manage</th>
            </tr>
            <% contacts.forEach(function(contact){
                %>
<tr>
    <td><%= contact.title %></td>
    <td><%= contact.slug %></td>
    <td><a href="/edit/<%= contact._id %>">Edit</a></td>
    <td><a href="/delete/<%= contact._id %>">Delete</a></td>
</tr>
                <%
            }); %>
            
        </table>
    </section>
</main>
<%- include('_layouts/footer') -%>