html {
	background-image: url("../images/bats.gif");	
}
body  {
	width: 800px;
	background-color: white;
	margin: 0 auto; 
	padding: 0;
	border: 3px solid black;
	box-shadow: 0 9px 18px 9px;
	font-family: 'Nunito', sans-serif;
}
h1, h2, h3, p {
	margin: 0;
	padding: 0;
}
main h1 {
		text-align: center;
 }
/* Header */
header { 
    background-image: -webkit-linear-gradient(45deg, white 0%, orange 75%, black 100%);
    background-image: -moz-linear-gradient(45deg, white 0%, orange 75%, black 100%);
    background-image: -o-linear-gradient(45deg, white 0%, orange 75%, black 100%);
    background-image: linear-gradient(45deg, white 0%, orange 75%, black 100%);
    padding: 15px;
} 
header img { 
	float: left; 
	padding-right: 15px;  
} 
header h2 {
	font-size: 230%;
}
header h3 {
	font-size: 125%;
	padding-bottom: 15px;
}

/* Navigation menu */
#nav_menu {
	clear: left;
	margin: 0 2em 2em 2em;
}
#nav_menu ul {
	list-style: none;
	position: relative;
	margin: 0;
	padding: 0;
}
#nav_menu ul li {
	display: inline-block;
	width: auto;
}
#nav_menu ul li a {
	text-align: center;
	display: block;
	padding: 1em;
	text-decoration: none;
	background-color:orange;
	color:black;
	border-bottom: 3px solid black;
	border-top: 3px solid black;
	}
#nav_menu ul li a.current {
	color:orange;
}
#nav_menu ul li a:hover, #nav_menu ul li a:focus {
	background-color: gray;
}

/* Footer */
footer { 
	clear: both;
	border-top: 2px solid black;
	padding: 15px;
    background-image: -webkit-linear-gradient(45deg, black 0%, orange 25%, white 100%);
    background-image: -moz-linear-gradient(45deg, black 0%, orange 25%, white 100%);
    background-image: -o-linear-gradient(45deg, black 0%, orange 25%, white 100%);
    background-image: linear-gradient(45deg, black 0%, orange 25%, white 100%);
} 
footer p {
	font-size: 90%;
	text-align: center;
}
main img{
	width:600px;
	height:300px;
}
main p{
font-size: 90%;
}
form .form-field label {
	width: 40%;
	float: left;
	font-size: 18px;
}

.form-field {
	clear: both;
}

form .form-field .form-input {
	float: left;
	width: 56%;
	height: 35px;
	margin: 0 0 10px 0;
}

form {
	width: 400px;
	margin: 20px auto 40px;
	box-shadow: 0 0 10px white;
	padding: 20px;
}

.form-submit {
	border: 2px solid #db0066;
	width: 200px;
	height: 40px;
	font-size: 18px;
	margin: 20px auto;
	display: block;
	background: transparent;
	color: #db0066;
	cursor: pointer;
}
.form-submit:hover{
	background: #db0066;
	color: white;
	border-color: white;
}

.ck.ck-content {
	color: black;
}

table.contact-list{
	border: 2px solid white;
	border-collapse: collapse;
	margin-bottom: 20px;
}
table.contact-list td, table.contact-list th{
	border: 2px solid white;
	padding: 5px 10px;
}
table.contact-list td a{
	color: #db0066;
	font-weight: bold;
	text-decoration: none;
}